{% extends "layout.html" %}
{% block body %}
{% set started = false %}
{% set title = "" %}
{% for match in matches %}
{% if started == false %}
    <div class="series">
    {% set started = true %}
{% endif %}
        {% set new_title = match['team_one'] + " vs " + match['team_two'] %}
        {% if new_title != title %}
            </div></div><div class = "series">
            <div class="title"><h2>{{ new_title }}</h2></div>
            <div class="matches">
            {% set title = new_title %}
        {% endif %}
        <div class="match">
            <a href="/match/{{ match['match_id'] }}">
            <h3>Game {{ match['game_number'] }}</h3>
            <div class="champions">
                {% for champ in match['champions'] %}
                    <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/champion/{{ champ }}">
                {% endfor %}
            </div>
            </a>
        </div>
{% else %}
Dang. We haven't made matches for these pages yet. Might be because we didn't cover that week, might be because Riot doesn't have match history pages available. Either way, we messed up. Sorry dude.
{% endfor %}
{% endblock %}